
* {
    position: relative;
}

.nav-item {
    display: flex;
    flex-direction: column;
}

/*Blue stack in Navbar*/
.b-stack {
    transform: scale(0.5);
}


/* BIG CIRCLES at the top of page */

#circleOne {
    width: 105px;
    height: 105px;
    background-color: #E6563B;
    border-radius: 50%;
    border: #ffffff 8px solid;
    text-align: center;
    font-family: anton;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F0F0;
}

#circleTwo {
    width: 105px;
    height: 105px;
    background-color: #EB9D3A;
    border-radius: 50%;
    border: #ffffff 8px solid;
    text-align: center;
    font-family: anton;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F0F0;
}

#circleThree {
    width: 105px;
    height: 105px;
    background-color: #7CB06C;
    border-radius: 50%;
    border: #ffffff 8px solid;
    text-align: center;
    font-family: anton;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F0F0;
}

#circleFour {
    width: 105px;
    height: 105px;
    background-color: #00ABA9;
    border-radius: 50%;
    border: #ffffff 8px solid;
    text-align: center;
    font-family: anton;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F0F0;
}

.top-circles {
    display: flex;
    justify-content: center;
}

.red {
    width: 18px;
    height: 21px;
    background-color: #E6563B;
    border-radius: 50%;
    /*text-align: center;*/
    font-family: anton;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.orange {
    width: 18px;
    height: 21px;
    background-color: #EB9D3A;
    border-radius: 50%;
    text-align: center;
    font-family: anton;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.green {
    width: 18px;
    height: 21px;
    background-color: #7CB06C;
    border-radius: 50%;
    text-align: center;
    font-family: anton;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.blue {
    width: 18px;
    height: 21px;
    background-color: #00ABA9;
    border-radius: 50%;
    text-align: center;
    font-family: anton;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* Cards */

.card-img-top {
    border: 8px solid #E6E6E6;
    background-color: #F0F0F0;
    height: 300px !important;
    max-width: 90%;
}

/* Icons under images */

.list-inline-item {
    display: flex;
    justify-content: space-between;
    right: 55px;
}

